<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>309667966851-stp4gsnfi4c0b3392mkru83d9dk6smvn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309667966851-stp4gsnfi4c0b3392mkru83d9dk6smvn</string>
	<key>API_KEY</key>
	<string>AIzaSyDHsdwB8wGafXPYm7ljSWyg8emlNoALeo8</string>
	<key>GCM_SENDER_ID</key>
	<string>309667966851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.robaert.alexandre.Estudos-ObjetiveC</string>
	<key>PROJECT_ID</key>
	<string>estudo-objetivec</string>
	<key>STORAGE_BUCKET</key>
	<string>estudo-objetivec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309667966851:ios:d7d6bb9a33eda1cdbcd0b6</string>
</dict>
</plist>